<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Factory_Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup> 
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /> 
  </startup>
  <!--This is the connection string of old database FactoryInventory-->
  <!--<connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryInventory;Persist Security Info=True;User ID=sa;Password=Kdvghr2810@;" />
    <add name="Factory_Inventory.Properties.Settings.FactoryInventoryConnectionString"
      connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryInventory;User ID=sa;Password=Kdvghr2810@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--  This is the connection string of new database FactoryData for Gaurang's laptop-->
  <!--<connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryData;Persist Security Info=True;User ID=sa;Password=Kdvghr2810@;" />
    <add name= "Factory_Inventory.Properties.Settings.FactoryInventoryConnectionString"
      connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryData;User ID=sa;Password=Kdvghr2810@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--This is the connection string of new database FactoryData for Vob's laptop-->
  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=192.168.1.34, 1433;Initial Catalog=FactoryData;Persist Security Info=True;User ID=sa;Password=Kdvghr2810@;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Factory_Inventory.Properties.Settings>
      <setting name="LastIP" serializeAs="String">
        <value>192.168.1.12</value>
      </setting>
      <setting name="LocalConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="localState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SizeX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SizeY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ScaleX" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ScaleY" serializeAs="String">
        <value>1</value>
      </setting>
    </Factory_Inventory.Properties.Settings>
  </userSettings>
  <appSettings> 
    <add key="sql_update" value="1" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>    
  </system.web>
</configuration> 