<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <!--This is the connection string of old database FactoryInventory-->
  <!--<connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryInventory;Persist Security Info=True;User ID=sa;Password=Kdvghr2810@;" />
    <add name="Factory_Inventory.Properties.Settings.FactoryInventoryConnectionString"
      connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryInventory;User ID=sa;Password=Kdvghr2810@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--This is the connection string of new database FactoryData for Gaurang's laptop-->
  <!--<connectionStrings>
    <add name="connstrng" connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryData;Persist Security Info=True;User ID=sa;Password=Kdvghr2810@;" />
    <add name="Factory_Inventory.Properties.Settings.FactoryInventoryConnectionString"
      connectionString="Data Source=DESKTOP-MOUBPNG\MSSQLSERVER2019;Initial Catalog=FactoryData;User ID=sa;Password=Kdvghr2810@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--This is the connection string of new database FactoryData for Vob's laptop-->
  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=192.168.1.34, 1433;Initial Catalog=FactoryData;Persist Security Info=True;User ID=sa;Password=Kdvghr2810@;" />
    <add name="Factory_Inventory.Properties.Settings.FactoryInventoryConnectionString"
		  connectionString="Data Source=192.168.1.12, 1433;Initial Catalog=FactoryData;User ID=sa;Password=Kdvghr2810@"
		  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>